@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');

.App {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Search */
.search__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

/* Lead Card */

.leads__overview {
  padding: 18px;
  margin: 15px 50px 15px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #f7f0f3;
  transition: 0.2s all ease-in-out;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 1px #d3d0d0;
}

.leads__overview:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leads__overview .leads__company {
  margin-left: 30px;
}

.leads__overview .leads__company h3 {
  font-size: 1.8rem;
  color: rgb(255, 0, 72);
}

.leads__overview .leads__company h4 {
  font-size: 1.1rem;
  margin-top: -30px;
  color: grey;
}

.leads__overview .leads__cont_person {
  margin-left: 125px;
}

.leads__overview .leads__cont_person h3 {
  font-size: 1.5rem;
}

.leads__overview .leads__cont_person .lead__name {
  font-size: 1.2rem;
  margin-top: -20px;
  color: rgb(255, 0, 72);
}

.leads__overview .leads__cont_person .email__class {
  font-size: 1.2rem;
}

.leads__overview .leads__cont_person h5 {
  font-size: 1rem;
  margin-top: -20px;
  color: rgb(241, 76, 123);
}

.leads__overview .leads__location {
  margin-left: 85px;
}

.leads__overview .leads__location h3 {
  font-size: 1.5rem;
}

.leads__overview .leads__location h4 {
  font-size: 1.2rem;
  margin-top: -20px;
  color: rgb(255, 0, 72);
}

.leads__overview .leads__toggle_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leads__overview .leads__toggle_button button {
  padding: 12px;
  background: rgb(255, 0, 72);
  border-radius: 5px;
  border: none;
  font-size: 17px;
  color: #ffffff;
  transition: 0.2s all ease-in-out;
}

.leads__overview .leads__toggle_button button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1400px) {
  .leads__overview {
    grid-template-columns: 1fr 1fr;
  }

  .leads__company,
  .leads__cont_person,
  .leads__location {
    text-align: center;
  }

  .leads__overview .leads__toggle_button {
    margin-left: 100px;
  }
}

@media screen and (max-width: 800px) {

  .leads__overview {
    grid-template-columns: 1fr;
    margin: 15px 0px 15px 0px;
  }

  .leads__overview .leads__company,
  .leads__overview .leads__cont_person,
  .leads__overview .leads__location,
  .leads__overview .leads__toggle_button {
    margin-left: -1px;
    text-align: left;
  }
}